<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Confluent.Kafka" version="1.9.3" targetFramework="net48" />
  <package id="Dapper" version="1.60.6" targetFramework="net48" />
  <package id="Dapper.Oracle" version="1.0.3" targetFramework="net48" />
  <package id="Hangfire.Core" version="1.7.31" targetFramework="net48" />
  <package id="Hangfire.MemoryStorage" version="1.7.0" targetFramework="net48" />
  <package id="librdkafka.redist" version="1.9.2" targetFramework="net48" />
  <package id="linq2db" version="4.3.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Oracle.ManagedDataAccess" version="21.7.0" targetFramework="net48" />
  <package id="Oracle.ManagedDataAccess.Core" version="2.18.6" targetFramework="net48" />
  <package id="Owin" version="1.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="6.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>